$color-white: #fff;
$color-black: #000;
$light-gray: #8a8a8a;
$light-green: #65e876;
$color-green: #4cdb59;
$color-bacground: #e4ffe8;
$color-failed: #ffdddd;
$color-quantity: #fff1ee;
$color-status: #f89b67;
$status-bg: #fff5dd;
$color-error: #ff2929;
$color-thumb: #7a7a7a;

$color-gray: var(--color-gray);
$color-primary: var(--color-primary);
$primary-bg: var(--primary-bg);
$color-swiper: var(--color-swiper);
$color-border: var(--color-border);
$color-background-gradient: var(--color-background-gradient);
$color-footer: var(--color-footer);
$color-input: var(--color-input);
$color-star: var(--color-star);

$xs: "screen and (max-width: 767px)";
$sm: "screen and (max-width: 1200px)";
$lg: "screen and (max-width: 1920px)";
